<section class="flex flex-col content-center justify-center py-16 lg:py-32 dark:bg-secondary-900">
    <h1 id="about-heading" class="my-8 text-3xl tracking-tight sm:text-4xl md:text-4xl
            text-secondary-900 dark:text-secondary-50 text-center font-extrabold">Nosotros</h1>
    
    <div class="grid gap-14 md:grid-cols-2 md:gap-5 mt-8 max-w-screen-xl mx-auto">
        <!-- Misión Card -->
        <article class="rounded-xl p-6 text-center shadow-lg mx-4 xl:mx-0">
            <div
                class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-primary-600 shadow-primary-600/40"
                aria-hidden="true">
                <i class="pi pi-bullseye text-3xl text-white"></i>
            </div>
            <h2 class="text-darken mb-3 text-xl font-medium lg:px-14">Misión</h2>
            <p class="px-4 text-gray-400 pb-8">En MELASTY PERÚ, nos comprometemos a proporcionar soluciones
                tecnológicas avanzadas que mejoren la productividad y la eficiencia en la agricultura y la
                ganadería, garantizando resultados superiores en cada ciclo de producción.</p>
        </article>

        <!-- Visión Card -->
        <article class="rounded-xl p-6 text-center shadow-lg mx-4 xl:mx-0">
            <div
                class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-primary-600 shadow-primary-600/40"
                aria-hidden="true">
                <i class="pi pi-eye text-3xl text-white"></i>
            </div>
            <h2 class="text-darken mb-3 text-xl font-medium lg:px-14">Visión</h2>
            <p class="px-4 text-gray-400 pb-8">Nuestra visión es ser líderes en la industria, ofreciendo
                innovación constante y un servicio excepcional para impulsar el éxito y la sostenibilidad en el
                sector agrícola y ganadero.</p>
        </article>
    </div>
</section>