<style>
    .fixed-header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    .fixed-header .p-menubar {
        border: none;
        border-radius: 0;
    }

    /* Media query para pantallas pequeñas */
    @media screen and (max-width: 768px) {

        /* Ajusta este valor según necesites */
        .fixed-header {
            top: auto;
            /* Elimina la posición superior */
            bottom: 0px;
            /* Coloca el header a 5px del fondo */
        }
    }
</style>

<div class="fixed z-50 fixed-header" appHideHeader>
    <p-card styleClass="m-0 [&_.p-card-body]:!p-2 bg-surface backdrop-blur-md rounded-none">
        <div class="flex items-center justify-between w-full">
            <!-- Logo -->
            <div class="flex-none ms-3">
                <img src="../../../assets/images/logo-melasty.svg" [routerLink]="['/']" width="48" alt="Logo Melasty"
                    class="hidden md:block cursor-pointer">
            </div>

            <!-- Navigation Items -->
            <nav class="flex flex-grow justify-center lg:justify-end">
                <ul class="flex space-x-2 items-center">
                    <li>
                        <a [routerLink]="(['/'])" routerLinkActive="text-primary font-semibold underline"
                            [routerLinkActiveOptions]="{exact: true}" pRipple
                            class="flex flex-col md:flex-row items-center justify-center px-2 py-2 rounded-md">

                            <!-- Ícono: Visible solo en pantallas pequeñas y medianas -->
                            <!-- <i class="pi pi-home text-2xl md:text-base mb-1 md:mb-0 md:mr-2 sm:block"></i> -->

                            <!-- Texto: Visible solo en pantallas medianas y grandes -->
                            <span class="text-sm md:text-base">Inicio</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="(['/products'])" routerLinkActive="text-primary font-semibold underline" pRipple
                            class="flex flex-col md:flex-row items-center justify-center px-2 py-2 rounded-md">

                            <!-- Ícono: Visible solo en pantallas pequeñas y medianas -->
                            <!-- <i class="pi pi-th-large text-2xl md:text-base mb-1 md:mb-0 md:mr-2 sm:block"></i> -->

                            <!-- Texto: Visible solo en pantallas medianas y grandes -->
                            <span class="text-sm md:text-base">Productos</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="(['/about'])" routerLinkActive="text-primary font-semibold underline" pRipple
                            class="flex flex-col md:flex-row items-center justify-center px-2 py-2 rounded-md">

                            <!-- Ícono: Visible solo en pantallas pequeñas y medianas -->
                            <!-- <i class="pi pi-info-circle
               text-2xl md:text-base mb-1 md:mb-0 md:mr-2 sm:block"></i> -->

                            <!-- Texto: Visible solo en pantallas medianas y grandes -->
                            <span class="text-sm md:text-base">Nosotros</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="(['/contact'])" routerLinkActive="text-primary font-semibold underline" pRipple
                            class="flex flex-col md:flex-row items-center justify-center px-2 py-2 rounded-md">

                            <!-- Ícono: Visible solo en pantallas pequeñas y medianas -->
                            <!-- <i class="pi pi-envelope
               text-2xl md:text-base mb-1 md:mb-0 md:mr-2 sm:block"></i> -->

                            <!-- Texto: Visible solo en pantallas medianas y grandes -->
                            <span class="text-sm md:text-base">Contacto</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Theme Toggle -->
            <div class="flex-none">
                <p-button (onClick)="toggleTheme()" severity="secondary" [icon]="(isDarkTheme$ | async) ? 'pi pi-sun' : 'pi pi-moon'"
                    [text]="true" size="large">
                </p-button>
            </div>
        </div>
    </p-card>
</div>